<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cont{
            width: 300px;
            height: 400px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" v-on:keyup.enter="handleSend">

        <select v-model="send">
            <option value="1">按下Enter发送</option>
            <option value="2">按下Ctrl+Enter发送</option>
        </select>{{send}}

        <div class="cont">
            <p v-for="(item,index) in msglist">
                {{item}}
            </p>
        </div>
    </div>
    
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                msg:'hello',
                msglist:[
                    '你好',
                    '在敲代码'
                ],
                send:1
            },
            methods:{
                handleSend(){
                    this.msglist.push(this.msg)
                    this.msg = ''
                }
            }
        })
    </script>
</body>
</html>