.login {
  height: 100vh;
  background: url("./images/bg.jpg") no-repeat center;
  background-size: 100% 100%;
}
/* 中间区域样式 */
.login .login-content {
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
}
.login .login-content h3 {
  line-height: 60px;
  font-size: 30px;
  text-align: center;
}
