<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
    .cont{
      height: 300px;
      width: 300px;
      border: 1px solid #333;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="msg" v-on:keyup.ctrl.enter="handleInput">
    <input type="text" v-model="msg" v-on:keyup.13="handleInput"> 
    <!-- 13在ASCII码中代表Enter -->
  </div>
</body>
<script>
  new Vue({
    el:'#app',
    data:{
      msg:''
    },
    methods: {
      handleInput(){
        console.log(this.msg);
        
      }
    },
  })
</script>
</html>